<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane show active index-page">
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
      <button mat-button mat-raised-button color="primary" class="my-btn" (click)="randomize()">Update</button>
    </div>
</div>