<nav class="fixed-top row">
  <div class="index-row">
    <img class="logo" src="/assets/img/miscellaneous.png" />
    <h1>Corre la Voz</h1>
  </div>
  <ul class="nav nav-little">
    <li class="nav-item">
      <a class="nav-link active" href="#home" i18n="@@home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about" i18n="@@about">Conócenos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#benefits" i18n="@@members">Integrantes</a>
    </li>
  </ul>
</nav>
