<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane show active index-page">
    <h2 i18n="@@addStrike">Agregar marcha</h2>
    <!-- ADD-->
    <form>
      <div class="form-row">
        <div class="op-form-md">
          <label i18n="@@name">Nombre</label>
          <input type="text" class="op-form-control" />
        </div>
        <div class="op-form-md">
          <label i18n="@@date">Fecha</label>
          <input type="date" class="op-form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="op-form-md">
          <label i18n="@@desc">Descripción</label>
          <input type="text" class="op-form-control" />
        </div>
        <div class="op-form-md">
          <label>#hashtag</label>
          <input type="text" class="op-form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="op-form-md">
          <label i18n="@@startAddress">Dirección incio</label>
          <input
            type="text"
            class="op-form-control"
            placeholder="Av. anibeuhoiw"
          />
        </div>
        <div class="op-form-md">
          <label i18n="@@endAddress">Dirección fin</label>
          <input
            type="text"
            class="op-form-control"
            placeholder="Av. anibeuhoiw"
          />
        </div>
      </div>

      <label class="file" i18n="@@addImage">Agregar imagen<input type="file" /></label>

      <button type="submit" class="my-btn" i18n="@@add">Agregar</button>
    </form>
  </div>
</div>
