<div class="main-container">
  <div class="logs">
    <div class="img img-login"></div>
    <div class="app-col">
      <h2 i18n="@@login">Iniciar Sesión</h2>
      <form action="user.html">
        <div class="form-group">
          <label i18n="@@email">Correo</label>
          <input
            type="email"
            class="op-form-control"
            placeholder="Ingresar correo electrónico"
            data-i18n="[placeholder]emailPlaceH"
          />
        </div>
        <div class="form-group">
          <label i18n="@@password">Contraseña</label>
          <input
            type="password"
            class="op-form-control"
            placeholder="Ingresa contraseña"
            data-i18n="[placeholder]passPlaceH"
          />
        </div>
        <div class="index-row">
          <a class="font-light" routerLink="/signin" routerLinkActive="class1" i18n="@@signin"
            >Registrarse</a
          >
          <button
            type="submit"
            class="ln-btn"
            routerLink="/inicio"
            routerLinkActive="class1"
            i18n="@@enter"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
