<div class="main-container">
  <div class="logs">
    <div class="img img-login"></div>
    <div class="app-col">
      <h2 i18n="@@login">Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="alert-inputs">
            <label i18n="@@email">Correo</label>
            <i
              *ngIf="
                (formData.user_email.touched && formData.user_email.invalid) ||
                (dataSubmitted && !loginSucess)
              "
              class="material-icons i-alert"
              >error</i
            >
          </div>
          <input
            type="email"
            class="op-form-control"
            formControlName="user_email"
            required
          />
        </div>
        <div class="form-group">
          <div class="alert-inputs">
            <label i18n="@@password">Contraseña</label>
            <i
              *ngIf="
                (formData.password.touched && formData.password.invalid) ||
                (dataSubmitted && !loginSucess)
              "
              class="material-icons i-alert"
              >error</i
            >
          </div>
          <input
            type="password"
            class="op-form-control"
            formControlName="password"
            required
          />
        </div>
        <div class="index-row">
          <a
            class="font-light"
            routerLink="/signin"
            routerLinkActive="class1"
            i18n="@@signin"
            >Registrarse</a
          >
          <button
            type="submit"
            class="ln-btn"
            i18n="@@enter"
            [disabled]="loginForm.pristine || loginForm.invalid"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
