<div class="main-container">
  <div class="logs">
    <div class="img img-login"></div>
    <div class="app-col">
      <h2>Iniciar Sesión</h2>
      <form action="user.html">
        <div class="form-group">
          <label>Correo</label>
          <input
            type="email"
            class="op-form-control"
            placeholder="Ingresar correo electrónico"
          />
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input
            type="password"
            class="op-form-control"
            placeholder=" Ingresa contraseña"
          />
        </div>
        <div class="index-row">
          <a class="font-light" routerLink="/signin" routerLinkActive="class1"
            >Registrarse</a
          >
          <button
            type="submit"
            class="ln-btn"
            routerLink="/inicio"
            routerLinkActive="class1"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
