@import "variables"
@import "responsive"

.strike-content
    .center-items
        display: flex
        flex-direction: column
        align-items: center
    .my-btn
        margin-top: 0.8rem
        width: 20%
    .img-main
        width: 70%
        border-radius: 1.5rem
    p 
        max-width: 90%
    .interactions 
        display: flex
        flex-direction: column
        justify-content: center
        margin-left: 1rem
    .div-comments
        width: 100%
    .form
        width: 70%
    form 
        width: 70%
        margin-bottom: 2.5rem
    
.map-section
    margin-bottom: 2rem
    .center
        display: flex
        flex-direction: column
        text-align: center
        color: $color-red
    .material-icons
        font-size: 50px
    .new-marker
        color: $color-green
    .points
        color: $color-blue

mgl-map 
        height: 500px
        width: 100%rem   
#map 
    width: 70% 
.comments
    display: none
        
.carousel
    width: 70%
    .carousel-control-prev-icon, .carousel-control-next-icon
        background-color: $color-purple
        border-radius: 0.2rem
.caroussel-inner
    width: 100%

.carousel-item
    height: 100%
    border-radius: 1rem
    text-align: center
    img 
        max-height: 100%
        max-width: 100%
        border-radius: 1rem
        width: 100%


 
@include tablet

    .tab-content
        .my-btn
            width: 50%
        .img-main, .map, .strike-content, .carousel, #map, .comment-wrapper
            width: 100%
        .strike-content
            .form
                width: 100%
            p
                max-width: 90%
                text-align: justify
    .center-color
        background-color: transparent
    .file 
        width: 40%

@include mobile
    .tab-content .tab-pane
        width: 90%
    .strike-content .center-items
        text-align: center
    .tab-content .tab-pane .section-style
        flex-direction: column
        justify-content: center
    
