@import "variables"
@import "responsive"

.strike-content
    .img-main
        width: 70%
        border-radius: 1.5rem
    p 
        max-width: 90%
    .interactions 
        display: flex
        flex-direction: column
        justify-content: center
        margin-left: 1rem
    form 
        margin-bottom: 1rem
    
.map-section
    margin-bottom: 2rem
    .center
        display: flex
        flex-direction: column
        text-align: center
        color: $color-red
    .material-icons
        font-size: 50px
    .new-marker
        color: $color-green
    .points
        color: $color-blue

mgl-map 
        height: 500px
        width: 40rem

        
.comments
    display: none
.images-section
    margin-bottom: 4rem
    display: block
        
.carousel
    width: 70%
    display: block
    margin-bottom: 2rem
    .carousel-control-prev-icon, .carousel-control-next-icon
        background-color: $color-purple
        border-radius: 0.2rem

.carousel-item
    height: 100%
    border-radius: 1rem
    text-align: center
    img 
        max-height: 100%
        max-width: 100%
        border-radius: 1rem

@include large
    .carousel-inner
        height: 13rem
    .carousel
        width: 80%
    .strike-content
        .img-main, .map
            width: 80%
 
@include tablet
    .carousel-inner
        height: 13rem
    .tab-content
        .my-btn
            width: 50%
        .img-main, .map, .strike-content, .carousel, .twitter
            width: 100%
        .strike-content
            p
                max-width: 90%
                text-align: justify
            
    .other-section
        display: flex
        flex-direction: column
    
    .file 
        width: 40%

    
