
.tab-content
    padding-top: 4.5rem
    display: flex
    justify-content: center
    h1, h2, h6, h5
        color: $rgba-header
    h2, h1
        margin-bottom: 3rem
    a 
        color: $rgba-header
        font-size: 17px
    a:hover 
        color: $color-purple
        text-decoration: none
    .tab-pane
        padding-top: 5rem
        width: 70%
        .section-style
            justify-content: space-around
            display: flex
            justify-content: space-between
 
            flex-wrap: wrap


    //profile data
    .profile
        width: 35%
        margin-bottom: 1.5rem
    h6, h5
        font-size: inherit
        font-weight: bold
    .my-btn
        width: 15%
        background-color: $color-red
        color: color("white")
    .my-btn:hover
        background-color: $color-green
        color: color("white")
    //strikes
    .index-page
        justify-content: space-between
        background-color: transparent
        width: 70%
        form 
            width: 80%
            .btn 
                background-color: $color-red
                color: color("white")
        h3 
            color: $color-red
        .my-btn:hover
            background-color: $color-green
            color: color("white")

.center-color
    background-color: white
@include mobile
    .tab-content
        .p-data
            width: 90%
        .section-style 
            padding: 0.5rem 0rem
            .form-control
                width: 90%
            .card
                width: 95%
        .profile 
            width: 90%
        .index-page
            form 
                width: 100%
        #date, #hash
            display: none
