<footer>
  <div class="footer-container">
    <div class="index-row">
      <div class="footer-col">
        <h3>Contact</h3>
        <p class="email">contact@gmail.com</p>
      </div>
      <div class="footer-col">
        <ul>
          <li>
            <h5><a href="#home"> Inicio</a></h5>
          </li>
          <li>
            <h5><a href="#about"> Conócenos </a></h5>
          </li>
          <li>
            <h5><a href="#benefits"> Beneficios </a></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
