<!-- Modal for edit-->
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLongTitle" i18n="@@editStrike">
        Editar Marcha
      </h3>
      <i type="button" data-dismiss="modal" class="material-icons i-alert"
        >clear</i
      >
    </div>
    <div class="modal-body">
      <form [formGroup]="marchaEditForm">
        <div class="form-row">
          <div class="op-form-md">
            <div class="alert-inputs">
              <label i18n="@@name">Nombre</label>
              <i
                *ngIf="
                  marchaEditForm.controls['nombre'].invalid &&
                  marchaEditForm.controls['nombre'].dirty
                "
                class="material-icons i-alert"
                >error</i
              >
            </div>
            <input
              type="text"
              class="op-form-control"
              formControlName="nombre"
              placeholder="{{ selectedEdit.nombre }}"
            />
          </div>
          <div class="op-form-md">
            <label i18n="@@date">Fecha</label>
            <input
              type="date"
              class="op-form-control"
              formControlName="fecha"
              value="{{ selectedEdit.fecha | date: 'aaaa-mm-dd' }}"
              [ngModel]="selectedEdit.fecha"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="op-form-md">
            <div class="alert-inputs">
              <label>Hashtag</label>
              <i
                *ngIf="
                  marchaEditForm.controls['hashtag'].invalid &&
                  marchaEditForm.controls['hashtag'].dirty
                "
                class="material-icons i-alert"
                >error</i
              >
            </div>
            <input
              type="text"
              class="op-form-control"
              formControlName="hashtag"
              placeholder="{{ selectedEdit.hashtag }}"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="op-form-md">
            <div class="alert-inputs">
              <label i18n="@@startAddress">Dirección incio</label>
              <i
                *ngIf="
                  marchaEditForm.controls['direccion'].invalid &&
                  marchaEditForm.controls['direccion'].dirty
                "
                class="material-icons i-alert"
                >error</i
              >
            </div>
            <input
              type="text"
              class="op-form-control"
              formControlName="direccion"
              placeholder="{{ selectedEdit.direccion.address }}"
            />
          </div>
        </div>
        <div class="form-row" style="margin-bottom: 2rem;">
          <div class="col-12" style="padding: 15px;">
            <div class="alert-inputs">
              <label i18n="@@desc">Descripción</label>
              <i
                *ngIf="
                  marchaEditForm.controls['descripcion'].invalid &&
                  marchaEditForm.controls['descripcion'].dirty
                "
                class="material-icons i-alert"
                >error</i
              >
            </div>
            <textarea
              type="text"
              class="op-form-control"
              formControlName="descripcion"
              placeholder="{{ selectedEdit.descripcion }}"
            ></textarea>
          </div>
        </div>

        <div class="alert-inputs">
          <button
            type="submit"
            class="my-btn blue"
            [disabled]="marchaEditForm.pristine || marchaEditForm.invalid"
            data-dismiss="modal"
            (click)="edit()"
            id="edited"
            i18n="@@save"
          >
            Guardar
          </button>
          <div class="toast fade hide">
            <div class="toast-body">
              <p>Edición exitosa!</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
