<div class="div-comments center-items">
  <h2 i18n="@@comments">Comentarios</h2>
  <div class="comment-wrapper">
    <div class="panel-body">
      <textarea
        class="form-control"
        placeholder="..."
        rows="3"
        [(ngModel)]="comentario"
      ></textarea>
      <br />
      <button type="button" class="my-btn" (click)="post()">
        Post
      </button>
      <div class="clearfix"></div>
      <hr />
      <ul class="media-list" *ngFor="let comentario of comentarios">
        <li class="comment-card" *ngIf="mostrados" [@inOutAnimation]>
          <div class="tw-profile">
            <p class="comment-name">{{ comentario.nombre }}</p>
          </div>
          <p class="card-text">
            {{ comentario.contenido }}
          </p>
          <p class="comment-light">{{ comentario.fecha }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
