<div>
    <div class="tw-profile bootstrap snippets">
        <div class="col-sm-10">
            <div class="comment-wrapper">
               
                    <h2 i18n="@@comments">Comentarios</h2>
                    <div class="panel-body">
                        <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                        <br>
                        <button type="button" class="my-btn">Post</button>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <li class="tw-card">
                                <div class="tw-profile">
                                    <p class="tw-name">{{nombre}}</p>
                                    <p class="tw-handle">{{handle}}</p>
                                  </div>
                                  <p class="card-text">
                                   {{contenido}}
                                  </p>
                                  <p class="tw-light">{{fecha}}</p>
                                  
                            </li>
                          
                            
                        </ul>
                    </div>
                </div>
            
    
        </div>
    </div>
</div>

