<div class="images-section">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active"></div>
      <div class="carousel-item" *ngFor="let img of imgs">
        <img src="{{ img }}" alt="First slide" class="imgs_carrusel" />
      </div>
    </div>
    <!-- controls -->
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>

  <form [formGroup]="addimageForm" (ngSubmit)="post()">
    <label i18n="@@addImage">Agregar imagen</label>
    <input
      type="file"
      class="form-control-file"
      id="exampleFormControlFile1"
      (change)="onImagePicked($event)"
    />
    <button type="button" class="my-btn" (click)="post()">
      Post
    </button>
  </form>
</div>
