<div class="images-section">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/cover.jpg" alt="First slide" />
      </div>
      <div class="carousel-item">
        <img src="assets/img/cover.jpg" alt="Second slide" />
      </div>
      <div class="carousel-item">
        <img src="assets/img/cover.jpg" alt="Third slide" />
      </div>
    </div>
    <!-- controls -->
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>

  <form>
    <label i18n="@@addImage">Agregar imagen</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" />
  </form>
</div>
