<div class="tab-content" id="pills-tabContent">
  <!-- PERFIL-->
  <div class="tab-pane show active">
    <h2>Perfil</h2>
    <div>
      <h6>Nombre</h6>
      <input type="text" class="card p-data" />
      <h6>Apellido</h6>
      <input type="text" class="card p-data" />
      <h6>Correo</h6>
      <input type="text" class="card p-data" />
      <button
        routerLink="/usuario/perfil"
        routerLinkActive="class1"
        class="my-btn"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
