<!-- Modal for edit profile-->
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle" i18n="@@profile">
        Editar Perfil
      </h5>

      <i type="button" data-dismiss="modal" class="material-icons i-alert"
        >clear</i
      >
    </div>
    <div class="modal-body">
      <form [formGroup]="editUserForm">
        <h6 i18n="@@name">Nombre</h6>
        <input class="op-form-control profile" formControlName="nombre"/>
        <h6 i18n="@@lastName">Apellido</h6>
        <input class="op-form-control profile" formControlName="apellido"/>

        <button
          class="my-btn blue"
          type="button"
          data-toggle="modal"
          data-target="#edit-profile"
          (click)="edit()"
          [disabled]="editUserForm.pristine || editUserForm.invalid"
          i18n="@@save"
        >
          Guardar cambios
        </button>
      </form>
    </div>
  </div>
</div>
