<!-- Modal for edit profile-->

<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Editar Perfil</h5>

      <i type="button" data-dismiss="modal" class="material-icons i-alert"
        >clear</i
      >
    </div>
    <div class="modal-body">
      <form>
        <h6>Nombre</h6>
        <input class="op-form-control profile" />
        <h6>Apellido</h6>
        <input class="op-form-control profile" />
        <h6>Correo</h6>
        <input class="op-form-control profile" />
        <h6>Nueva contraseña</h6>
        <input class="op-form-control profile" />
        <h6>Confirmar contraseña</h6>
        <input class="op-form-control profile" />

        <button
          class="my-btn blue"
          type="button"
          data-toggle="modal"
          data-target="#edit-profile"
        >
          Guardar cambios
        </button>
      </form>
    </div>
  </div>
</div>
