<!-- NAVBAR  -->
<nav id="sidebar" class="active">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn">
        <i class="material-icons md-dark">reorder</i>
      </button>
    </div>
    <!-- SIDEBAR CONTENT  -->
    <div class="sidebar-content">
      <h1>Corre la Voz</h1>
      <!-- LINKS  -->
      <ul class="nav" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-profile-tab"
            data-toggle="pill"
            href="#pills-profile"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Perfil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            id="pills-home-tab"
            data-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
            >Agregar
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-admin-tab"
            data-toggle="pill"
            href="#pills-admin"
            role="tab"
            aria-controls="pills-admin"
            aria-selected="true"
            >Marchas</a
          >
        </li>
        <li class="nav-item">
          <a href="login.html">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>