<!-- NAVBAR  -->
<nav id="sidebar" class="active">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn">
      <i class="material-icons md-dark">reorder</i>
    </button>
  </div>
  <!-- SIDEBAR CONTENT  -->

 
  <div class="sidebar-content">
    <h1>Corre la Voz</h1>
    <!-- LINKS  -->
    <ul class="nav" role="tablist">
      <li class="nav-item">
        <a
          routerLink="/admin/perfil"
          routerLinkActive="class1"
          class="nav-link"
          i18n="@@profile"
          
          >Perfil</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/admin/inicio"
          routerLinkActive="class1"
          class="nav-link"
          i18n="@@add"
          >Agregar</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/admin/marchas"
          routerLinkActive="class1"
          class="nav-link"
          i18n="@@strikes"
          >Marchas</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/admin/info"
          routerLinkActive="class1"
          class="nav-link"
          i18n="@@info"
          >Información</a
        >
      </li>
      <li class="nav-item">
        <a 
          (click)="logout()" 
          class="nav-link" 
          i18n="@@signOut" 
          (click)="authenticationService.logout()" 
          *ngIf="authenticationService.loggedIn"
          >Cerrar sesión</a
        >
      </li>
    </ul>
  </div>
  <footer>
    <div class="footer-container">
      <div class="index-row">
        <div class="footer-col">
          <h3>&copy; Copyright 2020</h3>
          <div class="custom-switch email">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customSwitches"
            />
            <label class="custom-control-label" for="customSwitches"
              >ESP/ENG</label
            >
          </div>
        </div>
        <div class="footer-col"></div>
      </div>
    </div>
  </footer>
</nav>
