<div class="div-comments">
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v11'"
    [zoom]="[15]"
    [center]="center"
    id="map"
    (click)="mapClick($event)"
  >
    <mgl-marker [lngLat]="center" #myMarker>
      <div class="center">
        <i class="material-icons md-dark" type="button" data-toggle="modal"
          >room</i
        >
        <h1>Inicio</h1>
      </div>
    </mgl-marker>
    <mgl-popup [marker]="myMarker">
      {{ direccion.location }}
    </mgl-popup>

    <mgl-marker [lngLat]="addmarker" #added>
      <div class="new-marker">
        <i
          class="material-icons md-dark new-mark"
          type="button"
          data-toggle="modal"
          >room</i
        >
      </div>
    </mgl-marker>

    <ng-container *ngFor="let punto of puntos">
      <mgl-marker #myMarker [lngLat]="[punto.longitude, punto.latitude]">
        <div class="points">
          <i
            class="material-icons md-dark new-mark"
            type="button"
            data-toggle="modal"
            >room</i
          >
        </div>
      </mgl-marker>
      <mgl-popup [marker]="myMarker">{{ punto.title }}</mgl-popup>
    </ng-container>
  </mgl-map>

  <div>
    <label i18n="@@trafficPin">Comparte puntos de interés</label>
    <input type="text" class="op-form-control" [(ngModel)]="titulo" />
    <button class="my-btn" i18n="@@add" (click)="addPoint()">Agregar</button>
  </div>
  <!-- <form>
    <label i18n="@@importantSite">Agregar punto importante</label>
    <input type="text" class="op-form-control" />
    <button class="my-btn" i18n="@@add">Agregar</button>
  </form> -->
</div>
