<div class="index-container" id="home">
  <div class="index-row">
    <div class="index-col img-main"></div>
    <div class="index-col">
      <h1 i18n="@@startNow">¡ Comienza ahora !</h1>
      <h4 i18n="@@helpMobility">
        Ayuda a la movilidad
      </h4>
      <p i18n="@@share">
        Comparte recomendaciones de tráfico y/o tu experiencia en las marchas de
        la ciudad
      </p>
      <button
        routerLink="/"
        routerLinkActive="class1"
        class="my-btn"
        i18n="@@login"
        (click)="auth.login()"
        *ngIf="!auth.loggedIn"
      >
        Iniciar sesión
      </button>
      <button
        routerLink="/"
        routerLinkActive="class1"
        class="my-btn"
        i18n="@@login"
        (click)="auth.logout()"
        *ngIf="auth.loggedIn"
      >
        Cerrar sesión
      </button>
      <h2 i18n="@@intStrike">¿Quiéres integrar tu marcha?</h2>
      <h4 i18n="@@contactUs">Contáctanos</h4>
      <p class="">contact@gmail.com</p>
    </div>
  </div>
</div>
