<div class="tab-content" id="pills-tabContent">
  <!-- PERFIL-->
  <div class="tab-pane show active">
    <h2 i18n="@@profile">Perfil</h2>
    <div>
      <pre *ngIf="auth.userProfile$ | async as profile">
        <code>{{ profile | json }}</code>
      </pre>
      <h6 i18n="@@name">Nombre</h6>
      <div class="op-form-control profile">{{ usuario.nombre }}</div>
      <h6 i18n="@@lastName">Apellido</h6>
      <div class="op-form-control profile">{{ usuario.apellido }}</div>
      <h6 i18n="@@email">Correo</h6>
      <div class="op-form-control profile">{{ usuario.correo }}</div>
      <h6>ID</h6>
      <div class="op-form-control profile">{{ usuario.id }}</div>
      <button
        class="my-btn"
        i18n="@@edit"
        type="button"
        data-toggle="modal"
        data-target="#edit-profile"
      >
        Editar
      </button>
    </div>
  </div>
  <app-edit-profile class="modal fade" id="edit-profile"></app-edit-profile>
</div>
