<div class="tab-content" id="pills-tabContent">
  <!-- PERFIL-->
  <div class="tab-pane show active">
    <h2 i18n="@@profile">Perfil</h2>
    <div>
      <h6 i18n="@@name">Nombre</h6>
      <div class="card p-data">{{ nombreUsuario }}</div>
      <h6 i18n="@@lastName">Apellido</h6>
      <div class="card p-data">{{ apellidoU }}</div>
      <h6 i18n="@@email">Correo</h6>
      <div class="card p-data">{{ emailU }}</div>
      <h6>ID</h6>
      <div class="card p-data">{{ idUsuario }}</div>
      <button
        routerLink="/usuario/editar-perfil"
        routerLinkActive="class1"
        class="my-btn"
        i18n="@@edit"
      >
        Editar
      </button>
    </div>
  </div>
</div>
