<div class="tab-content" id="pills-tabContent">
  <!-- PERFIL-->
  <div class="tab-pane show active">
    <h2>Perfil</h2>
    <div>
      <h6>Nombre</h6>
      <div class="op-form-control profile">{{ nombreUsuario }}</div>
      <h6>Apellido</h6>
      <div class="op-form-control profile">{{ apellidoU }}</div>
      <h6>Correo</h6>
      <div class="op-form-control profile">{{ emailU }}</div>
      <h6>ID</h6>
      <div class="op-form-control profile">{{ idUsuario }}</div>
      <button
        class="my-btn"
        type="button"
        data-toggle="modal"
        data-target="#edit-profile"
      >
        Editar
      </button>
    </div>
  </div>
  <app-edit-profile class="modal fade" id="edit-profile"></app-edit-profile>
</div>
