<div class="main-container">
  <div class="logs">
    <div class="app-sign-col">
      <h2>Registro</h2>
      <form action="login.html">
        <div class="form-row">
          <div class="op-form-md">
            <label>Nombre</label>
            <input type="text" class="op-form-control" />
          </div>
          <div class="op-form-md">
            <label>Apellido</label>
            <input type="text" class="op-form-control" />
          </div>
        </div>
        <div class="form-row">
          <div class="op-form-md">
            <label>Correo</label>
            <input
              type="email"
              class="op-form-control"
              placeholder="usuario@email.com"
            />
          </div>
          <div class="op-form-md">
            <label>Contraseña</label>
            <input type="password" class="op-form-control" />
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label">
              Acepto términos y condiciones
            </label>
          </div>
        </div>
        <button type="submit" class="ln-btn">Registrar</button>
      </form>
    </div>
  </div>
</div>
