<!-- TWITTERr-->
<!-- header de side bar de twitter -->
<div class="tw-header">
  <h2>Tendencias</h2>
</div>
<!-- display de tweets -->
<div class="tweets" *ngFor="let tweet of tweets">
  <!-- tweet -->
  <div class="tw-card">
    <div class="tw-profile">
      <p class="tw-name">{{ tweet.name }}</p>
      <p class="tw-handle">{{ tweet.handle }}</p>
    </div>
    <p class="card-text">
      {{ tweet.content }}
    </p>
    <p class="tw-light">{{ tweet.date }}</p>
    <div class="tw-profile">
      <p>{{ tweet.rt }}</p>
      <i class="material-icons md-dark md-18">sync</i>
      <p>{{ tweet.likes }}</p>
      <i class="material-icons md-dark md-18">favorite_border</i>
    </div>
  </div>
</div>
