<div class="index-container" id="about">
  <div class="index-row">
    <div class="index-col">
      <h1 i18n="@@info">Información</h1>
      <p i18n="@@shareStrikeInfo">
        Brindar información sobre las marchas de la ciudad, lugar, fecha,
        contexto y puntos de encuentro
      </p>
    </div>
    <div class="index-col image">
      <img class="image-example" src="/assets/img/questions.png" />
    </div>
  </div>
  <div class="index-row">
    <div class="index-col image">
      <img class="image-example" src="/assets/img/track.png" />
    </div>
    <div class="index-col">
      <h1 i18n="@@traffic">Tráfico</h1>
      <p i18n="@@shareRealTimeInfo">
        Brindar información en tiempo real sobre tráfico y recomendaciones de
        usuarios para mejorar la vialidad.
      </p>
    </div>
  </div>
  <div class="index-row">
    <div class="index-col">
      <h1 i18n="@@xp">Experiencia</h1>
      <p i18n="@@photoSharing">
        Compartir experiencias de los participantes por medio de fotografías y
        comentarios
      </p>
    </div>
    <div class="index-col image">
      <img class="image-example" src="/assets/img/strike.png" />
    </div>
  </div>
</div>
<div class="index-container benefits" id="benefits">
  <div class="index-row">
    <div class="index-col">
      <h1 i18n="@@members">Integrantes</h1>
    </div>
  </div>
  <div class="index-row">
    <div class="index-col">
      <h4>Andrea Becerra</h4>
    </div>
    <div class="index-col">
      <h4>Lia Díaz</h4>
    </div>
    <div class="index-col">
      <h4>Alejandro Moreno</h4>
    </div>
  </div>
</div>
